@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    src: local('Gilroy'),
         url(../fonts/gilroyextrabold.woff2) format('woff2'),
         url(../fonts/gilroyextrabold.woff) format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    src: local('Gilroy'),
         url(../fonts/gilroylight.woff2) format('woff2'),
         url(../fonts/gilroylight.woff) format('woff');
}


.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.is-shown {
    display: inline-block;
}

.is-hidden {
    display: none;
}

html,
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;

    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    width: 100%;
    height: auto;
}

.button {
    display: block;
    padding: 6px 0;

    font-size: 18px;
    line-height: 24px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;

    border: none;
    background-color: transparent;
    background-image: linear-gradient(transparent 40%, #ffcc33 40%, #ffcc33 60%, transparent 60%, transparent 100%);
    outline: none;
}

.button:hover,
.button:focus {
    background-color: #ffcc33;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffcc33;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    font-size: 47px;
    line-height: 48px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.02em;
}

/* шапка сайта */

.header {
    position: relative;
    min-height: 225px;
    background-image: linear-gradient(#ffffff 40px, #f7e296 40px, #f7e296 100%);
}

.logo {
    width: 164px;
    height: 38px;
    margin: 0;
    margin-bottom: 14px;
    padding-top: 21px;
    padding-left: 59px;
}

.logo__link:hover,
.logo__link:focus {
    opacity: 0.6;
}

.logo__link:active {
    opacity: 0.3;
}

.user-block {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 30px;
    padding: 0 59px;
}

.header__search {
    position: relative;
    width: 500px;
}

.search__name {
    position: absolute;
    top: 18px;
    left: 4px;
    width: 25px;
    height: 25px;
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header__search input {
    width: 317px;
    padding-left: 40px;

    background-color: #f7e296;
    border: 0;
}

.search__button {
    box-sizing: border-box;
    width: 85px;
    height: 49px;
    background-color: transparent;
    border: 0;
   /* opacity: 0;*/
  
  outline: 1px solid red;
}

/* пользовательское меню */

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 501px;
}

.user__login {
    display: flex;
}

.user .login__item {
    margin-right: 17px;
}

.actions {
    display: flex;

    justify-content: space-between;
    width: 220px;
    margin-left: auto;
}

.user__login,
.actions {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.user__login .login__link:not(.login__link--exit),
.actions__link {
    position: relative;
    padding-left: 26px;
}

.login__link:not(.login__link--exit)::before,
.actions__link--compare::before,
.actions__link--cart::before {
    content: "";
    position: absolute;

    width: 20px;
    height: 20px;

    background-repeat: no-repeat;
    background-position: 0 0;
}

.login__link--enter::before,
.login__link--profile::before {
    top: 5px;
    left: 0;
    background-image: url(../img/user-icon.svg);
}

.actions__link--compare::before {
    top: 7px;
    left: 7px;

    background-image: url(../img/compare-icon.svg);
}

.actions__link--cart::before {
    top: 5px;
    left: 5px;
    background-image: url(../img/cart-icon.svg);
}

.login__link:hover,
.actions__link:hover,
.login__link:focus,
.actions__link:focus {
    opacity: 0.6;
}

.login__link:active,
.actions__link:active {
    opacity: 0.3;
}

/* основное меню - главная навигация */


.nav__list {
    display: flex;
    margin: 0;
    padding: 0 59px;
    list-style: none;
}

.nav__list > li {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.nav__list .nav__item--catalog {
    position: relative;
    margin-right: 293px;
    padding-right:  30px;
}

.nav__item:nth-child(2) {
    padding-right: 34px;
}

.nav__item:nth-child(4) {
    margin-left: auto;
    text-align: right;
}

.nav__link:hover,
.nav__link:focus {
    opacity: 0.6;
}

.nav__link:active {
    opacity: 0.3;
}

.dropdown-menu__link:hover,
.dropdown-menu__link:focus {
    opacity: 0.6;
}

.dropdown-menu__link:active {
    opacity: 0.3;
}

/* выпадающее меню */

.dropdown-menu-wrapper {
    position: absolute;
    left: -58px;
    top: 20px;
    display: flex;
    width: 1040px;
    padding: 23px 60px 0;
    min-height: 142px;

    background-color: #f7e296;
    z-index: 100;

    visibility: hidden;
}

.nav__item--catalog:hover .dropdown-menu-wrapper,
.nav__item--catalog a:focus + .dropdown-menu-wrapper {
    visibility: visible;
}


.dropdown-menu__list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.video {
    width: 200px;
    padding-right: 40px;
}

.fitnes {
    width: 160px;
    padding-right: 40px;
}

.kvadrokopter {
    flex-grow: 1;
}

.dropdown-menu__item {
    font-size: 15px;
    line-height: 36px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 0.01em;
}



/* слайдер промо*/

.slider-promo {
    position: relative;
    min-height: 500px;
    margin-bottom: 95px;
    background-color: #ffffff;
}

.slider-promo__controls {
    position: absolute;
    right: 42px;
    bottom: 150px;
    width: 148px;
    height: 20px;
    z-index: 50;
}

.controls-promo__item {
    position: relative;
    bottom: 8px;
    left: 20px;
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    margin: 0 9px;
    cursor:  pointer;
}

.controls-promo__item::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    border-radius: 50%;
    z-index: 1;
}

.slider-promo__item {
    position: absolute;
    top: -2px;
    left: 0;
    display: flex;
    justify-content: flex-start;
    width: 1160px;
    background-image: linear-gradient(#f7e296 116px, transparent 116px, transparent 100%);
    z-index: -1;
}

.slider-promo__item::before {
    content: "";
    position: absolute;
    top: 42px;
    right: 460px;
    display: block;
    width: 100px;
    height: 7px;
    background-color: #ffffff;
}

.slider-promo__item::after {}

#selfie-slide:checked ~ .slider-promo__item:nth-last-of-type(3),
#fitnes-slide:checked ~ .slider-promo__item:nth-last-of-type(2),
#kvadrokopter-slide:checked ~ .slider-promo__item:nth-last-of-type(1) {
    z-index: 2;
}

#selfie-slide:checked ~ .controls-promo .control-promo--1-slide::before,
#fitnes-slide:checked ~ .controls-promo .control-promo--2-slide::before,
#kvadrokopter-slide:checked ~ .controls-promo .control-promo--3-slide::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    box-sizing: border-box;
    width: 4px;
    height: 4px;

    border: 1px solid #000000;
    border-radius: 50%;

    z-index: 1;
}

.slider-promo__item img {
    width: 560px;
    height: 500px;
    margin-right: 37px;
}

.slider-promo__item .slider-promo__slogan {
    padding-top: 85px;
    padding-bottom: 19px;
    font-size: 47px;
    line-height: 56px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-weight: 800;
    letter-spacing: 0.014em;
}

.slider-promo__description {
    width: 485px;
    margin: 0;
    padding-bottom: 46px;
    font-weight: 300;
    letter-spacing: 0.01em;
}

.slider-promo__item .button {
    width: 220px;
    margin-bottom: 51px;
    margin-left: 2px;
}

.slider-promo__details {
    border-collapse: collapse;
}

.details__value td {
    font-size: 36px;
    line-height: 48px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-weight: 300;
    color: #000000;
    letter-spacing: 0.001em;
}

.details__item {
    width: 158px;
}

.details__item:nth-child(2) {
    width: 137px;
}

.details__name th {
    padding-top: 6px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 0.001em;
    color: #464646;
    text-align: left;
}

/* список категорий */

.category__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 58px;
    padding: 0;
    list-style: none;
}

.category__item {
    position: relative;
    width: 160px;
}

.category__name {
    box-sizing: border-box;
    padding-top: 160px;

}

.category__name span {
    display: inline-block;
    padding-top: 33px;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.category__name::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;

    letter-spacing: 0.01em;
    background-color: #f7e296;
}

.category__name::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;

    background-repeat: no-repeat;
    background-position: center center;
}

.name-virtual::after {
    background-image: url(../img/virtual.svg);

}

.name-selfie::after {
    background-image: url(../img/selfie-stick.svg);
    background-position: center bottom;
}

.name-camera::after {
    left: 3px;
    background-image: url(../img/action-camera.svg);

}

.name-fitnes::after {
    top: 2px;
    left: 2px;
    background-image: url(../img/fitnes.svg);

}

.name-watches::after {
    left: 3px;
    background-image: url(../img/watches.svg);

}

.name-kvadrokopter::after {
    top: 3px;
    background-image: url(../img/kvadrokopter.svg);

}

.category__name:hover::before,
.category__name:focus::before,
.category__name:active::before {
    background-color: #f0c52e;
}

.category__name:active::after {
    opacity: 0.3;
}


/*******  slider услуг   ****/

.service-slider {
    min-width: 1200px;
    background-image: linear-gradient(#ffffff 120px, #e5e5e5 120px);
}

.service-slider .container {
    position: relative;
    display: flex;
    min-height: 408px;
    margin-bottom: 93px;
}

.service-slider__controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
    width: 280px;
    margin-right: 120px;
}

.service-slider__controls::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 278px;
    display: block;
    width: 6px;
    height: 319px;
    background-color: #000000;
}

.service-slider__button {
    width: 160px;
    margin-bottom: 29px;
    padding-left: 7px;
}

.service-slider__button:last-child {
    padding-left: 0;
}

.service-slider__button.active {
    width: 280px;
    /* padding: 8px 0; */
    padding-left: 17px;
    margin-bottom: 27px;
    text-align: left;
    background-color: #000000;
    background-image: none;
    color: #f7e184;
    border: 2px solid #000000;
}

.slider-content {
    position: relative;
    flex-grow: 1;
    margin-top: 50px;
}

.service-slider__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 760px;
    min-height: 230px;

    z-index: -1;
}

.service-slider__item--delivery {
    z-index: 1;
    background-image: url(../img/delivery.svg);
    background-repeat: no-repeat;
    background-position: 558px 55px;
}

.service-slider__item--warranty {
    background-image: url(../img/warranty.svg);
    background-repeat: no-repeat;
    background-position: 545px 30px;
}

.service-slider__item--credit {
    background-image: url(../img/credit.svg);
    background-repeat: no-repeat;
    background-position: 535px 30px;
}

.service-slider__title {
    padding-top: 44px;
    margin-bottom: 32px;
}

.service-slider__description {
    width: 460px;
    margin: 0;

    letter-spacing: 0.001em;
}

.brands__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
    padding: 0;
    list-style: none;
}

.brands__item img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.brands__item img:hover {
    -webkit-filter: none;
    -o-filter: none;
    filter: none;
}

/***контакты и О нас***/

.info-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}

.about,
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 560px;
}

.about::before,
.contacts::before {
    content: "";
    display: block;
    width: 80px;
    height: 8px;
    margin-bottom: 45px;
    background-color: #000000;
}

.about-wrap {
    padding-right: 80px;
}

.about__title,
.contacts__title {
    margin-bottom: 43px;
    margin-left: -2px;
}

.about__description,
.contacts__description {
    margin: 0;
    padding-bottom: 30px;
    letter-spacing: -0.02em;
}

.about__transport {
    padding: 0;
    margin: 0;
    padding-left: 35px;
    margin-top: 35px;
    margin-bottom: 57px;
    font-size: 16px;
    line-height: 40px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    list-style: none;
}

.contacts img {
  margin-top: 7px;
}

.about__button,
.contacts__button {
    width: 260px;
    margin-top: auto;
}

/**  footer   **/

.footer {
    min-width: 1200px;
    padding: 63px 0;
    background-color: #464646;
    color: #ffffff;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.footer__logo {
    margin: 0;
    padding: 0;
    /* width: 163px; */
    /* height: 36px; */
}


.footer__user-menu {
    /* justify-content: flex-end; */
    width: auto;
}

.footer-actions {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    margin-left: 17px;
    list-style: none;
}

.login__link--footer,
.footer-actions__link {
    position: relative;
    padding-left: 27px;

    color: #ffffff;
    opacity: 0.7;

}

.login__link--footer:not(.login__link--exit)::before,
.footer-actions__link::before {
    position: absolute;
    top: 4px;
    left: -2px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/footer-user.svg);
    background-repeat: no-repeat;
}

.footer-actions__link--compare::before {
    top: 6px;
    left: 7px;
    background-image: url(../img/footer-compare.svg);
}

.footer-actions__link--cart::before {
    left: 6px;
    background-image: url(../img/footer-cart-icon.svg);
}

.footer-actions__link--cart {
    margin-left: 34px;
    margin-right: -2px;
}

.login__link--footer,
.footer-actions__link {
    color: rgba(255, 255, 255, 0.7);
}

.login__link--footer:hover,
.footer-actions__link:hover,
.login__link--footer:focus,
.footer-actions__link:focus {
    color: rgba(255, 255, 255, 1);
    ;
}

.login__link--footer:active,
.footer-actions__link:active,
.login__link--footer:active,
.footer-actions__link:active {
    color: rgba(255, 255, 255, 0.3);
}

.login__link--footer:hover::before,
.footer-actions__link:hover::before,
.login__link--footer:focus::before,
.footer-actions__link:focus::before {
    opacity: 0.6;
}

.login__link--footer:active::before,
.footer-actions__link:active::before {
    opacity: 0.3;
}


.footer-middle {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 60px;
}


.footer-middle p,
.footer-middle ul {
    margin: 0;
}

.footer__menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin-left:  50px;
    width: 464px;
    list-style: none;
}

.footer-middle .footer__adress {
    margin-right: 137px;
}

.footer-middle .footer__phone {
    margin-left: auto;
}

.main-menu__link {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
}

.main-menu__link:hover,
.main-menu__link:focus {
    opacity: 0.6;
}

.main-menu__link:active {
    opacity: 0.3;
}

.footer-bottom {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.footer-bottom::before {
    content: "";
    display: block;
    width: 80px;
    height: 7px;

    background-color: #ffc600;
}

.footer__social,
.footer__copyright {
    /* margin-left: auto; */
}

.footer__social {
    display: flex;
    padding: 0;
    margin:  0;
    list-style: none;
    margin-left: 429px;
    margin-right:  auto;
}

.social__item a {
    display: block;
    width: 32px;
    height: 32px;
    padding: 0 11px;
    opacity: 0.3;
}

.social__item--facebook a {
    background-image: url(../img/facebook.svg);
    background-repeat: no-repeat;

}

.social__item--instagram a {
    background-image: url(../img/instagram.svg);
    background-repeat: no-repeat;
}

.social__item--twitter a {
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
}

.social__item a:hover,
.social__item a:focus {
    opacity: 0.6;
}

.social__item a:active {
    opacity: 0.1;
}


.footer__copyright a {
    display: block;
    width: 33px;
    height: 33px;
    background-image: url(../img/logo-html.svg);
    background-repeat: no-repeat;
    background-position-x: right;
}

.footer__copyright a:hover,
.footer__copyright a:focus {
    opacity: 0.6;
}

.footer__copyright a:active {
    opacity: 0.3;
}



.write-us {
    width: 960px;
    min-height: 550px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    padding: 90px 100px 80px;
}

.modal__form .wrap {
    display: flex;
    justify-content: space-between;
}

.form__name,
.form__email {
    width: 360px;
}

.modal__form label {
    display: block;
}

.modal__form input {
    width: 100%;
}

.form__letter textarea {
    width: 100%;
}

.form__button {
    align-self: flex-start;
    width: 200px;
}

/** страница каталога **/

/* шапка */

.header-inner {
    min-height: 226px;
    margin-bottom: 37px;
}

.content-top {
    width: 1040px;
    padding: 0 80px;
}

.content-wrap {
    display: flex;
    justify-content: center;
    min-width: 1200px;
}

.content h1 {
    margin-bottom: 20px;
    letter-spacing: 0.014em;
}

/* хлебные крошки */

.breadcrumbs {
    display: flex;
    margin: 0;
    margin-bottom: 44px;
    padding: 0;
    list-style: none;
}

.breadcrumbs__item {
    position: relative;
    margin-right: 34px;
}

.breadcrumbs__item:not(.breadcrumbs__item--current)::after {
    content: "";
    position: absolute;
    top: 16px;
    right: -19px;
    display: block;
    width: 6px;
    height: 6px;
    background-image: url(../img/nav-arrow.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.breadcrumbs__link {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.008em;
    opacity: 0.3;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
    opacity: 0.6;
}

.breadcrumbs__link:active {
    opacity: 0.1;
}


/* фильтры */

.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-color: #efefef;
    flex-grow: 1;
}

.filters-wrap {
    box-sizing: border-box;
    width: 342px;
    padding-right: 68px;
    padding-left: 72px;
    margin-left: auto;
}

.filters__title {
    margin: 0;
    margin-bottom: 69px;
    width: 100%;
    background-color: #dbdbdb;
}

.filters__title span {
    box-sizing: border-box;
    display: block;
    width: 342px;
    padding: 23px 0;
    padding-right: 68px;
    padding-left: 74px;
    margin-left: auto;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.23em;
}

.filters__group {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 33px;
    border: none;
}

.filters__group::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
}

.filters__legend {
    padding: 0;
    padding-top: 13px;
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.1em;
}

.range-controls {
    position: relative;

}

.range-controls__bar {
    position: relative;
    display: block;
    margin: 10px 0 5px 0;

    width: 100%;
    height: 2px;
    background-color: #dbdbdb;
}

.range-controls__bar::after {
    position: absolute;
    left: 0;
    content: "";
    display: block;
    height: 2px;
    width: 120px;
    background-color: #91c92f;
}

.range-controls__toggle {
    position: absolute;
    display: block;
    width: 20px;
    height: 23px;

    border: none;
    background-color: transparent;
    outline: none;
    z-index: 2;
}

.range-controls__toggle--min {
    top: -10px;
    left: -10px;
}

.range-controls__toggle--max {
    top: -10px;
    left: 103px;
}

.range-controls__toggle:hover,
.range-controls__toggle:focus {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
}

.range-price label {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    opacity: 0.2;
}

.range-price input[type="text"] {
    border: none;
    width: 70px;
}

.filters--color,
.filters--bluetooth {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: -2px;
    padding-bottom: 3px;
}

.filters__item {
    padding-left: 38px;
    margin-bottom: 9px;
}

.filters--color .filters__item:last-child {
    margin-bottom: 0;
}

.filters__name {
    font-size: 14px;
}

.filters label {
    position: relative;

    user-select: none;
    cursor: pointer;
}

.filter-input__checkbox:not(:checked) + .filters__name::before,
.filter-input__radio:not(:checked) + .filters__name::before {
    position: absolute;
    top: -3px;
    left: -38px;
    content: "";
    display: block;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border: 4px solid #000000;
    border-radius: 2px;
}

.filter-input__radio:not(:checked) + .filters__name::before {
    top: -3px;
    border-radius: 50%;
}

.filter-input__checkbox:checked + .filters__name::after,
.filter-input__radio:checked + .filters__name::after {
    position: absolute;
    top: -3px;
    left: -38px;
    content: "";
    display: block;
    box-sizing: border-box;
    width: 25px;
    height: 25px;

    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input__radio:checked + .filters__name::after {
    background-image: url(../img/radio-on.svg);
}

.filters--button {
    width: 200px;
    margin-top: -8px;
}

/* продукция */

.products {
    flex-grow: 1;
}

/* сортировка */

.sort-wrap {
    background-color: #efefef;
}

.sort-menu {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 20px 0 72px;
    margin-right: auto;
    width: 834px;
}

.sort-menu__list,
.sort-menu__controls {
    padding: 0;
    list-style: none;
}

.sort-menu__list {
    display: flex;
    padding-bottom: 2px;
    

    margin: 0;
}

.sort-menu__item {
    padding-right: 30px;
}

.sort-menu__controls {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 40px;
    margin: 0;
}

.sort-menu__controls li {
    margin: 0;
    padding: 0;
}

.sort-menu__title {
    margin: 0;
    margin-right: 49px;
    padding: 23px 0;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.23em;
}

.sort-menu__link {
    font-size: 14px;
    line-height: 18px;
    opacity: 0.3;
}

.sort-menu__link:hover,
.sort-menu__link:focus {
    opacity: 0.6;
}

.sort-menu__controls .sort-menu__link {
    display: block;
    width: 10px;
    height: 10px;
    opacity: 0.2;
}

.sort-menu__link--ascending {
    background-image: url(../img/icon-up-dir.svg);
    background-repeat: no-repeat;

}

.sort-menu__link--descending {
    background-image: url(../img/icon-down-dir.svg);
    background-repeat: no-repeat;
}

.sort-menu__controls a:hover,
.sort-menu__controls a:focus {
    opacity: 0.4;
}

.sort-menu__link:active,
.sort-menu__controls a:active,
.sort-menu__link.active-link {
    opacity: 1;
}


/* собственно сами товары */

.product {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 845px;
    padding-left: 72px;
    padding-top: 49px;
    margin-right: auto;
    margin-bottom: 10px;
    list-style: none;
    background-color: #ffffff;
}

.product__item {
    position: relative;
    width: 360px;
    margin-top: 20px;
    margin-bottom: 26px;
}

.product__item:nth-child(odd) {
    margin-right: 40px;
}

.product-name-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 23px;
}

.product__name {
    width: 256px;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.product__price {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.001em;
    color: #464646;
}

.hover-block {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 380px;
    background-color: rgba(238, 238, 238, 0.7);
    visibility: hidden;

    z-index: 2;
}

.new-product::before {
    content: "new";
    display: block;
    padding: 16px 12px;
    position: absolute;
    top: 29px;
    right: 26px;
    z-index: 1;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.button--to-cart {
    width: 200px;
}

.product__compare {
    font-size: 13px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0.001em;
    opacity: 0.5;
    border: none;
    background-color: transparent;
}

.product__compare:hover,
.product__compare:focus {
    opacity: 1;
}

.product__compare:active {
    opacity: 0.2;
}

.product__item:hover .hover-block,
.product__item:focus .hover-block {
    visibility: visible;
}

/* нижняя навигация */

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 758px;
    height: 70px;
    margin-bottom: 76px;
    margin-left: 72px;
    background-color: #ebebeb;
}

.pagination-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 115px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pagination__item {
    height: 100%;
}

.pagination__item {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    opacity: 0.3
}

.pagination__button {
    display: block;
    width: 128px;
    padding: 23px 0;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.21em;
}

.pagination__button:hover,
.pagination__button:focus {
    background-color: #d9d9d9;
}

.pagination__button:active {
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.3);
}

.pagination__item--current {
    opacity: 1;
}


/* модальные окна*/

.write-us {
    box-sizing: border-box;
    position: fixed;
    bottom: 150px;
    left: 20%;
    width: 960px;
    height: 553px;

    /* padding: 90px 100px 80px;*/
    background-color: #ffffff;
    box-shadow: 0 2px 50px 0 #000000;
    z-index: -1;

}

.write-us .form__close {
    position: absolute;
    top: 22px;
    right: 22px;
    background-color: transparent;
    border: none;
    outline: none;

    width: 56px;
    height: 56px;
    background-image: url(../img/modal-close.svg);
    background-repeat: no-repeat;
    opacity: 0.5;
}


.map.modal {
    position: fixed;
    top: 20%;
    left: 20%;
    width: 960px;
    height: 559px;

    background-color: #ffffff;
    box-shadow: 0 2px 50px 0 #000000;
    z-index: -1;
}

.map .map__close {
    position: absolute;
    top: 22px;
    right: 22px;
    background-color: transparent;
    border: none;
    outline: none;

    width: 56px;
    height: 56px;
    background-image: url(../img/modal-close.svg);
    background-repeat: no-repeat;
    opacity: 0.5;
}

.modal__close:hover,
.modal__close:focus {
    opacity: 1;
}

.modal__close:active {
    opacity: 0.3;
}
