
.category-img {
	display: block;
	width: 160px;
	height: 160px;
	background-color: #ffcc99;
	background-image: url(../img/category-virtual.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.category-img:hover {
	background-color: #f0c52e;
}


.category-item a:active {

	opacity: 0.3;
}